@font-face {
  font-family: "iconfont"; /* Project id 3695683 */
  src: url('iconfont.woff2?t=1665537105590') format('woff2'),
       url('iconfont.woff?t=1665537105590') format('woff'),
       url('iconfont.ttf?t=1665537105590') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-crownfill:before {
  content: "\e776";
}

.icon-crown:before {
  content: "\e777";
}

.icon-medalfill:before {
  content: "\e7c1";
}

.icon-medal:before {
  content: "\e7c2";
}

.icon-skinfill:before {
  content: "\e7cc";
}

.icon-skin:before {
  content: "\e7cd";
}

.icon-moneybagfill:before {
  content: "\e7ce";
}

.icon-moneybag:before {
  content: "\e7d1";
}

.icon-redpacket_fill:before {
  content: "\e7d3";
}

.icon-deletefill:before {
  content: "\e6a6";
}

.icon-delete:before {
  content: "\e6b4";
}

.icon-cart:before {
  content: "\e6af";
}

.icon-cartfill:before {
  content: "\e6b9";
}

.icon-goods:before {
  content: "\e6cd";
}

.icon-selection:before {
  content: "\e6ce";
}

.icon-present:before {
  content: "\e6d3";
}

.icon-selectionfill:before {
  content: "\e6e1";
}

.icon-choicenessfill:before {
  content: "\e714";
}

.icon-choiceness:before {
  content: "\e715";
}

.icon-creativefill:before {
  content: "\e718";
}

.icon-creative:before {
  content: "\e719";
}

.icon-unfold:before {
  content: "\e661";
}

.icon-back:before {
  content: "\e679";
}

.icon-more:before {
  content: "\e684";
}

.icon-settings:before {
  content: "\e68a";
}

.icon-questionfill:before {
  content: "\e690";
}

.icon-question:before {
  content: "\e691";
}

.icon-right:before {
  content: "\e6a3";
}

.icon-refresh:before {
  content: "\e6a4";
}

.icon-roundaddfill:before {
  content: "\e6d8";
}

.icon-roundadd:before {
  content: "\e6d9";
}

.icon-fold:before {
  content: "\e6de";
}

.icon-redpacket:before {
  content: "\e6e0";
}

.icon-info:before {
  content: "\e6e5";
}

.icon-share:before {
  content: "\e6f3";
}

.icon-roundcheckfill:before {
  content: "\e656";
}

.icon-roundcheck:before {
  content: "\e657";
}

.icon-roundclosefill:before {
  content: "\e658";
}

.icon-roundclose:before {
  content: "\e659";
}

.icon-comment:before {
  content: "\e667";
}

.icon-deliver:before {
  content: "\e671";
}

.icon-wang:before {
  content: "\e678";
}

.icon-pulldown:before {
  content: "\e69f";
}

.icon-link:before {
  content: "\e6bf";
}

.icon-round:before {
  content: "\e6d7";
}

.icon-message:before {
  content: "\e6bc";
}

.icon-recharge:before {
  content: "\e6ed";
}

.icon-vipcard:before {
  content: "\e6ee";
}

.icon-notice:before {
  content: "\e70a";
}

.icon-hot:before {
  content: "\e758";
}

.icon-favorfill:before {
  content: "\e64b";
}

.icon-favor:before {
  content: "\e64c";
}

.icon-shop:before {
  content: "\e676";
}

.icon-shopfill:before {
  content: "\e697";
}

.icon-service:before {
  content: "\e6ff";
}

.icon-servicefill:before {
  content: "\e737";
}

